Title

Description

Importing packages.

In [21]:
import sklearn
import pandas as pd

Importing data into pandas DataFrame.

In [22]:
df = pd.read_csv(r"fullDataFinal.csv", index_col=0)
df.columns = df.columns.str.strip()
df.sample(5)

,fire_size_class,latitude,longitude,discovery_month,weekday,Vegetation,remoteness,elevation,Temp,Wind,Humidity,Precipitation
29881,E,42.251900,-115.543060,Sep,False,Grassland,0.448228,1339.0,17.441237,4.632610,50.070086,3.300000
30271,B,30.400000,-85.240000,Jun,True,Open Shrubland,0.166176,49.0,27.985804,4.220963,75.602892,25.300000
29450,B,31.035656,-84.133121,Mar,False,Open Shrubland,0.155738,86.0,11.973348,2.498544,69.772745,65.000000
3975,B,30.692400,-82.059600,Jul,True,Open Shrubland,0.137484,29.0,28.155292,3.348635,70.542502,55.000000
2609,B,40.716188,-104.968846,Sep,True,Rock/Ice,0.344393,1594.0,14.959681,2.986121,46.256630,398.133333

Separate target variable (fire_size_class) from predictor variables.

In [23]:
dfTarget = df["fire_size_class"]
dfPredictor = df[["latitude", "longitude", "discovery_month", "weekday", "Vegetation", "remoteness", "elevation", "Temp", "Wind", "Humidity", "Precipitation"]]

Changing categorical variables into one-hot encoded ones.

In [24]:
# First let's do fire_size_class
dfTarget = pd.concat([dfTarget, pd.get_dummies(dfTarget)], axis=1)  # use get_dummies and concatenate the result to dfTarget
dfTarget.drop(["fire_size_class"], axis=1, inplace=True)  # and remove the old column
dfTarget.sample(5)

       B  C  D  E  F  G
11202  0  1  0  0  0  0
18996  1  0  0  0  0  0
36132  0  0  0  0  1  0
33815  0  0  0  0  0  1
24163  1  0  0  0  0  0

In [25]:
# Now Vegetation
dfPredictor = pd.concat([dfPredictor, pd.get_dummies(dfPredictor["Vegetation"], prefix="Veg", prefix_sep=" ")], axis=1)
dfPredictor.drop(["Vegetation"], axis=1, inplace=True)

# And discovery_month
dfPredictor = pd.concat([dfPredictor, pd.get_dummies(dfPredictor["discovery_month"])], axis=1)
dfPredictor.drop(["discovery_month"], axis=1, inplace=True)
dfPredictor.sample(5)

,latitude,longitude,weekday,remoteness,elevation,Temp,Wind,Humidity,Precipitation,Veg Desert,...,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
26101,33.212500,-81.054167,True,0.126719,58.0,9.795972,3.437566,62.684061,422.933333,0,...,0,0,0,0,0,1,0,0,0,0
36377,38.136100,-98.396000,False,0.328005,538.0,10.229511,6.326077,58.101109,4.866667,0,...,0,0,0,0,0,0,0,0,0,0
11527,34.450000,-79.666700,True,0.113637,28.0,3.046512,1.304393,24.426357,0.000000,0,...,0,0,0,0,0,1,0,0,0,0
21113,36.916944,-120.100000,True,0.496916,77.0,22.593857,3.215286,43.777142,0.000000,0,...,0,0,0,0,1,0,0,0,0,0
21367,31.635300,-82.096400,True,0.137097,56.0,16.188704,2.575006,62.877664,4.666667,0,...,0,0,0,0,0,0,0,1,0,0

Scaling numerical data to 0-1 range.

Training models, each in a cell (?)

* K-Nearest Neighbour (KNN)
* Naïve Bayes (NB)
* Support Vector Machine (SVM)
* Decision Tree (DT)
* Random Forest (RF)
* Gradient Boosted Trees (GBT)
* Multi-Layered Perceptron (MLP)
* Artificial Neural Network (ANN)